:root {
  color-scheme: light dark;
  background-color: #242424;
}

.board {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 0 auto;
}

.card {
  max-width: 100px;
  width: 33.33%;
  height: 18vh;
  overflow: hidden;
  border-radius: 10px;
  margin: 4px;
  transform-style: preserve-3d;
}

.card img {
  transform: rotateY(0deg);
  transition: all 0.25s linear;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card img.isRevealed {
  transform: rotateY(180deg);
}
